.show_items_top_text {
  color: #828282;
  font-size: 13.5px;
  margin: 10px 0px 15px 47.5px;
}

.show_items_top_text a,
.show_items_top_text a:visited {
  color: #828282;
}

@media only screen and (max-width: 750px) and (min-width: 0px) {
  .show_items_top_text {
    font-size: 12.5px;
    margin-left: 52.5px;
  }
}
